
#search {
  float:left;
  width: 300px;
  background-color: #aaa;
  padding: 15px;

  input.range {
    width: 75px;
  }
}

#listings {
  padding: 15px;
  float:left;

  .property {

    img {
      width: 200px;
    }
  }
}

.alert-error {
  color: red;
}

.alert-notice {
  color: green;
}